p,
output,
h3 {
    color: rgb(240, 240, 240);
}

a {
    color: rgb(210, 206, 255);
}

a:visited {
    color: rgb(171, 168, 197);
}

.low-margin {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


body {
    background-color: rgb(43, 43, 43);
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 10%; */
    text-align: center;
    justify-content: flex-start;
}

.header h3 {
    margin: 0;
    margin-top: 10px;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    height: 30%;
    text-align: center;
}

.about_button {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgb(80, 80, 80);
}

.works_button {
    display: flex;
    width: 50%;
    height: 100%;
    align-self: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgb(80, 80, 80);
}


.controls_container {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    /* align-self: center; */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 300px;
    width: auto;
    margin: 10px;
    line-height: 25px;
    /* font-size: 18px; */
    font-size: calc(3px + 0.9vw);
    padding: 2px;
    border: calc(1px + 0.15vw) solid #737373;
    text-align: center
}

.controls input {
    align-self: center;
    width: calc(30px + 5vw);
    height: calc(4px + 1vw);
}

.controls input[type="range"] {
    width: calc(40px + 4.5vw);
    transform: scale(1.1);
}

.controls input[type="color"] {
    border: 1px solid #ffffff;
    padding: 0;
    -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}


@media (min-width: 2000px) {
    .controls input[type="range"] {
        width: calc(40px + 3.5vw);
        transform: scale(1.6);
    }
}

@media (min-width: 4000px) {
    .controls input[type="range"] {
        width: calc(30px + 2.5vw);
        transform: scale(2.5);
    }
}

@media (max-width: 1200px) {

    .controls,
    .controls input,
    .controls p,
    .controls output {
        margin: 0px;
        line-height: 20px;
    }
}

.gen {
    height: 100%;
    width: 100%;
}

#note {
    color: red;
}